body {
    background-color: #666;
  }
  header {
    background-color: rgba(94, 92, 92, 0.89);
    background-image: url("images/snackbars.jpg");
    padding: 30px;
    text-align: center;
    font-size: 80px;
    color: black;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    /* background-image: url("../images/card.jpg"); */
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .panel > .panel-heading {
    background-image: none;
    /* background-color: hsla(260, 5%, 12%, 0.925); */
    color: #1f1e1e;
  }
  
  h2 {
    padding: 60px;
    color:whitesmoke;
  }
  
  img {
    word-wrap: break-word;
  }
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  p {
      color:whitesmoke;
      /* background-color: rgb(153, 153, 142); */
      padding: 18px 36px;
    }
  
    p2 {
      color:whitesmoke;
      text-decoration: underline;
      text-transform: capitalize;
      text-indent: 50px;
    }
  
    p1 {
      color:whitesmoke;
      font-style:normal;
      font-size:20px;
      padding-left:30px;
    }
    
    article {
      float: right;
      padding: 30px;
      width: 100%;
      /* background-color: #f1f1f1; */
      /* height: 300px; only for demonstration, should be removed */
    }

  li{
    color:whitesmoke;
  }
  .Label{
    color:beige
  }
  a:link, a:visited {
    background-color: #1f1d1d18;
    color: white;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:rgba(116, 168, 226, 0.822);
    text-decoration: underline;
  }
  .topnav a.active {
    background-color: #9ea6beda;
    color: whitesmoke;
  }