<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Snack Brands</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <header>
    <h1> 
      <i class='bx bxl-python'></i>
      Snack Brands
      <br> Sales Forecast Model </h1>
  </header>
  <div class="row">
    <div class="topnav" style="padding-left:200px">
    <div class="col-md-12 text-center">
      <a class = "active" href="index.html" width="300"><b>Home Page</b> 
        <a href="historical.html"  style="color:rgb(3, 3, 27);"><b>Historical Data</b>
        <a  href="predictive.html" style="color:rgb(3, 3, 27);"> <b>Machine Learning </b>
        <!-- <a  href="livedemo.html"  style="color:rgb(3, 3, 27);"><b> Live Demo </b>
        <a  href="recommendations.html" style="color:rgb(3, 3, 27);"> <b> Recommendations </b>
        <a  href="contactus.html"  style="color:rgb(3, 3, 27);"><b> Contact us </b> -->
        </a>
  </div>
  </div>
</div>

<div class= "container">
  <h2>Overview of the Project</h2>
  <p1 class="center" >Snack Brands manufactures snack bars, and as a result the company needs to actively manage its supply chain networks. Specifically, procurement and production lead times, along with working capital levels need to be anticipated and planned for in order to optimize financial performance. Hence, we need to accurately forecast the sales in order to identify large cash outlays in response to sourcing inventory, managing inventory turnover as well as waste. To further add value, the project's model will be used to predict sales 24 months into the future, allowing Snack Brands to order the ingredients in a timely manner, source optimal ingredient pricing and manage inventory levels within the company's available financial resources.
  </p1>
  <h2>Technologies Used </h2>
  <p1>Prophet and ARIMA Machine Learning models are being used to forecast the sales. The results given by these methods would be further analyzed and the raw data may be further narrowed down to exclude sales data from the years 2020 and 2021. The current analysis shows that the sales were extremely low in the years 2020 and 2021 due to the effect of the Covid-19 Pandemic. Hence, it may better to exclude this data from the model. Further analysis will be done to see how the data from the pandemic time period affects the forecast.
    <br>
    Datasets have been cleaned using pandas so that we were able to use them in our machine learning models. Using both models outcomes, we will choose which is the recommended approach to use for forecasting. 
    </p1>
</section>
</div>  
</body>

</html>
